body {
    background: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: grid;
    gap: 3.75rem;
    justify-items: center;
    margin-top: 3.75rem;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

p {
    font-size: 1.25rem;
    line-height: 1.3;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

header {
    display: grid;
    justify-items: center;
    gap: 3.75rem;
}

.menu {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
}

.menu a {
    display: block;
    background: #ffff;
    padding: 0.9375rem 1.875rem;
    border-radius: 0.25rem;
    color: black;
    border: #fff 2px solid;
}
.menu a:hover {
    border: #e21 2px solid;
}

.bicicleta {
    max-width: 100%;
    display: block;
}

.bicicleta::before {
    content: "";

    width: 3.75rem;
    height: 0.25rem;
    background: #e21;
    position: absolute;
    top: 1.875rem;
    right: -1.875rem;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 62.5rem;
}

.introducao {
    background: #ffff;
    padding: 2.5rem;
    text-align: right;
    position: relative;
    display: grid;
    gap: 1.25rem;
    align-content: center;
    justify-items: end;
}

.introducao h1 {
    font-size: 2rem;
}

.introducao::before {
    content: "";
    width: 3.75rem;
    height: 0.25rem;
    background: #e21;
    position: absolute;
    top: 30px;
    right: -30px;
}

.introducao-cover img {
    object-fit: cover;
    height: 100%;
}

.introducao a {
    background: #e21;
    color: white;
    padding: 0.9375rem 1.875rem;
    border-radius: 0.25;
    border-radius: 0.1875rem;
}

.introducao a:hover {
    background: #900;
}

h2 {
    font-size: 4rem;
    grid-column: 1;
    color: rgba(0, 0, 0, 0.2);
    text-align: right;
    padding: 2.5rem;
    align-self: center;
    background-image: url(./img/onda.svg);
}

.vantagens {
    background: white;
    padding: 2.5rem;
}

.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.625rem 1.25rem;
    padding: 1.25rem;
}
.vantagens-item:hover {
    border-left: 0.25rem solid #e21;
}
.vantagens-item:nth-child(odd) {
    background: #f7f7f7;
}

.vantagens-item p {
    grid-column: 2;
}

.rodape {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 2.5rem;
}

@media (max-width: 1000px) {
    .conteudo-vantagem {
        grid-template-columns: 1fr;
    }

    h2 {
        text-align: center;
    }
}

@media (max-width: 600px) {
    body {
        gap: 30px;
        margin-top: 20px;
    }

    .header {
        gap: 30px;
    }

    .conteudo {
        grid-template-columns: 1fr;
    }

    .introducao {
        text-align: left;
        justify-items: start;
    }

    .introducao::before {
        display: none;
    }

    h2 {
        font-size: 3rem;
    }
}
